.ui-steps .ui-steps-item {
  width: 33%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}


.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  height: 10px;
  padding: 0 1em;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

@media screen and (min-width: 320px) {
  .alinhar-botao-next{
    margin-left: 79%;
  }
}

@media screen and (min-width: 375px) {
  .alinhar-botao-next{
    margin-left: 80%;
  }
}

@media screen and (min-width: 500px) {
  .alinhar-botao-next{
    margin-left: 85%;
    margin-top: 40px;
  }
}

@media screen and (min-width: 600px) {
  .alinhar-botao-next{
    margin-left: 90%;
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .alinhar-botao-next{
    margin-left: 90%;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .alinhar-botao-next{
    margin-left: 92%;
  }
}

@media screen and (min-width: 1440px) {
  .alinhar-botao-next{
    margin-left: 94%;
  }
}

@media screen and (min-width: 2500px) {
  .alinhar-botao-next{
    margin-left: 96%;
  }
}

.alinhar-steps-com-navbar{
  margin-top: 35px;
}
