<form #form="ngForm" (ngSubmit)="salvar(form)" novalidate>
    <div class="botao-finalizar-responsive">
        <button pButton type="submit" label="Finalizar Compra" [disabled]="form.invalid"></button>
    </div>
    <div class="align-component-in-steps">
        <p-accordion>
            <p-accordionTab header="Produtos Escolhidos">
                <p-table [value]="produtosEscolhidos" class="alinhar-text">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-produto>
                        <tr>
                            <td><img [src]="produto.pathImagem" height="50"></td>
                            <td>{{ produto.nome }} - {{ produto.capacidade }}</td>
                            <td>{{ produto.valor * produto.quantidade | currency: 'BRL' }}</td>
                            <td>{{ produto.quantidade }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer" let-produto>
                        <tr>
                          <td colspan="4"><strong>Total: R{{ totalAPagar | currency }}</strong></td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>
            <p-accordionTab header="Endereço para entrega" [selected]="true">
              <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                  <span>Os campos marcados com <span class="required">*</span> são de preenchimento obrigatório</span>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-envelope" title="Cep"></i></span>
                      <input type="text" pInputText placeholder="Informe o cep" [ngModel]="form.value.cep" name="cep" (blur)="buscarEnderecoPorCep(form)" mask="00.000-000">
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-road" title="Logradouro"><span class="required">*</span></i></span>
                    <input type="text" pInputText placeholder="Informe o logradouro" [ngModel]="form.value.logradouro" name="logradouro" required>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-4">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-home" title="Complemento"></i></span>
                    <input type="text" pInputText placeholder="Informe o complemento" [ngModel]="form.value.complemento" name="complemento">
                  </div>
                </div>

                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon"><i class="fa fa-street-view" title="Bairro"><span class="required">*</span></i></span>
                        <input type="text" pInputText placeholder="Informe o bairro" [ngModel]="form.value.bairro" name="bairro" required>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon"><i class="fa fa-globe" title="Estado"><span class="required">*</span></i></span>
                      <select [(ngModel)]="estadoSelecionado" name="estado" required pInputText (change)="carregarMunicipios()">
                        <option value="">Informe um estado</option>
                        <option *ngFor="let estado of estados" [ngValue]="estado.sigla">{{estado.sigla}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="ui-g-12 ui-md-4" *ngIf="estadoSelecionado">
                    <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon"><i class="fa fa-globe" title="Município"><span class="required">*</span></i></span>
                      <select [(ngModel)]="municipioSelecionado" name="municipio" required pInputText>
                        <option value="">Informe um municipio</option>
                        <option *ngFor="let municipio of municipios" [ngValue]="municipio.nome">{{municipio.nome}}</option>
                      </select>
                    </div>
                  </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Forma de Pagamento(Só será implementado se for colocado em produção)" [disabled]="true">
                Só vai ser implementado caso o projeto vingar
            </p-accordionTab>
        </p-accordion>
    </div>
</form>
