<p-dialog header="Cadastrar Usuário" [(visible)]="display" modal="modal" [responsive]="true" [width]="500" [minWidth]="300" [closable]="false">
    <!-- <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <span>Os campos marcados com <span class="required">*</span> são de preenchimento obrigatório</span>
      </div>
      <div class="ui-g-6">
        <span class="ui-float-label">
          <input id="float-input" type="nome" name="nome" pInputText ngModel required #nome>
            <label for="float-input">Nome</label>
          </span>
      </div>
    </div> -->
      <p-footer>
          <button type="button" pButton icon="fa-check" label="Salvar"></button>
          <button type="button" pButton icon="fa-close" (click)="close()" label="Fechar"></button>
      </p-footer>
</p-dialog>

<button type="button" (click)="show()" pButton label="Registrar"></button>
<!-- <span>Não tem registro? <a href="#" (click)="show()">Clique aqui</a></span> -->