<p-dialog header="Cadastrar Usuário" [(visible)]="isHabilitarCadastro" modal="modal" [responsive]="true" [width]="800" [minWidth]="300" [closable]="false">  
    <form #form="ngForm" (ngSubmit)="salvar()" novalidate>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12">
                <span>Os campos marcados com <span class="required">*</span> são de preenchimento obrigatório</span>
            </div>
            <div class="ui-g-6">
                <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-id-card" title="Nome"><span class="required">*</span></i></span>
                    <input type="text" pInputText placeholder="Informe o nome" [(ngModel)]="usuario.nome" name="nome" required>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-id-card" title="Sobrenome"><span class="required">*</span></i></span>
                    <input type="text" pInputText placeholder="Informe o sobrenome" [(ngModel)]="usuario.sobrenome" name="sobrenome" required>
                </div>
            </div>
            <div class="ui-g-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-user" title="Login"><span class="required">*</span></i></span>
                    <input type="text" pInputText placeholder="Informe o login" [(ngModel)]="usuario.login" name="login" required>
                </div>
            </div>
            <div class="ui-g-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-at" title="E-mail"><span class="required">*</span></i></span>
                    <input type="email" pInputText placeholder="Informe o email" [(ngModel)]="usuario.email" name="email" required>
                </div>
            </div>
            <div class="ui-g-4">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-lock" title="Senha"><span class="required">*</span></i></span>
                    <input type="password" pInputText placeholder="Informe a senha" [(ngModel)]="usuario.senha" name="senha" required>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-g-3 ui-g-offset-6">
                <button type="submit" pButton label="Salvar" icon="fa-check" [disabled]="form.invalid"></button>
            </div>
            <div class="ui-g-3">
                <button type="button" pButton (click)="close()" label="Fechar" icon="fa-close" class="ui-button-danger"></button>
            </div>
        </p-footer>
    </form>  
</p-dialog>

<span>Não tem cadastro? <a href="#" (click)="show()">Clique aqui</a></span>