<div class="align-component-in-steps">
    <p-dataTable [value]="produtosEscolhidos" class="alinhar-text" emptyMessage="Carrinho está vazio">
      <p-column>
        <ng-template pTemplate="body" let-produto="rowData">
          <img [src]="produto.pathImagem" height="50">
        </ng-template>
      </p-column>
      <p-column header="Produto">
            <ng-template pTemplate="body" let-produto="rowData">
                {{ produto.nome }} - {{ produto.capacidade }}
            </ng-template>
        </p-column>
        <p-column header="Preço">
            <ng-template pTemplate="body" let-produto="rowData">
                {{ produto.valor * produto.quantidade | currency: 'BRL' }}
            </ng-template>
        </p-column>
        <p-column header="Quantidade">
            <ng-template pTemplate="body" let-produto="rowData">
                <p-spinner size="25" [(ngModel)]="produto.quantidade" [min]="1" [max]="1000" (click)="calcularTotalAposQuantidadeDeUmProdutoSerAlterada()"
                          [readonly]="true"></p-spinner>
              </ng-template>
        </p-column>
        <p-column header="Ação">
          <ng-template pTemplate="body" let-produto="rowData">
            <a href="#" (click)="excluirProduto(produto)" title="Excluir produto do carrinho"><i class="fa fa-trash"></i></a>
          </ng-template>
        </p-column>
        <p-footer>Total: R{{ totalAPagar | currency }}</p-footer>
      </p-dataTable>
</div>

