/* You can add global styles to this file, and also import other style files */
.align-component-in-steps{
  margin-top: 50px;
}

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td{
  color: #eaf5f7;
  font-weight: bold;
}

#toasty .toast {
  width: 400px;
  height: 80px;
}

#toasty .toast.toasty-theme-bootstrap .toast-text .toast-title {
  font-size: 20px;
}

.alinhar-text {
  text-align: center;
}

a:-webkit-any-link {
  text-decoration : none;
}
