/* You can add global styles to this file, and also import other style files */
.align-component-in-steps{
  margin-top: 50px;
}

.ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td{
  color: #eaf5f7;
  font-weight: bold;
}

#toasty .toast {
  width: 400px;
  height: 80px;
}

#toasty .toast.toasty-theme-bootstrap .toast-text .toast-title {
  font-size: 20px;
}

.alinhar-text {
  text-align: center;
}

a:-webkit-any-link {
  text-decoration : none;
}

span.required{
  color: red;
}

@media screen and (min-width: 320px) {
  .botao-next-responsive{
    margin-left: 79%;
  }
  .campo-pesquisar-responsive {
    width: 63.5%;
  }
  .ui-widget-header .ui-inputtext, .ui-widget-content .ui-inputtext {
    width: 85%;
  }
  .botao-finalizar-responsive {
    margin-left: 48%;
  }
}

@media screen and (min-width: 375px) {
  .botao-next-responsive{
    margin-left: 80%;
  }
  .campo-pesquisar-responsive {
    width: 67.8%;
  }
  .ui-widget-header .ui-inputtext, .ui-widget-content .ui-inputtext {
    width: 85%;
  }
  .botao-finalizar-responsive {
    margin-left: 65%;
  }
}

@media screen and (min-width: 500px) {
  .botao-next-responsive{
    margin-left: 85%;
    margin-top: 40px;
  }
  .campo-pesquisar-responsive {
    width: 76.4%;
  }
  .botao-finalizar-responsive {
    margin-left: 75%;
  }
}

@media screen and (min-width: 600px) {
  .botao-next-responsive{
    margin-left: 90%;
    margin-top: 40px;
  }
  .campo-pesquisar-responsive {
    width: 80.5%;
  }
}

@media screen and (min-width: 768px) {
  .botao-next-responsive{
    margin-left: 90%;
    margin-top: 40px;
  }
  .campo-pesquisar-responsive {
    width: 84.9%;
  }
  .ui-widget-header .ui-inputtext, .ui-widget-content .ui-inputtext {
    width: 85%;
  }
  .botao-finalizar-responsive {
    margin-left: 79%;
  }
}

@media screen and (min-width: 1024px) {
  .botao-next-responsive{
    margin-left: 92%;
  }
  .campo-pesquisar-responsive {
    width: 88%;
  }
  .ui-widget-header .ui-inputtext, .ui-widget-content .ui-inputtext {
    width: 90%;
  }
  .botao-finalizar-responsive {
    margin-left: 84%;
  }
}

@media screen and (min-width: 1326px) {
  .botao-next-responsive{
    margin-left: 94%;
  }
  .campo-pesquisar-responsive {
    width: 91.7%;
  }
  .botao-finalizar-responsive {
    margin-left: 88%;
  }
}

@media screen and (min-width: 1440px) {
  .botao-next-responsive{
    margin-left: 94%;
  }
  .campo-pesquisar-responsive {
    width: 92%;
  }
  .botao-finalizar-responsive {
    margin-left: 88%;
  }
}

@media screen and (min-width: 2500px) {
  .botao-next-responsive {
    margin-left: 96%;
  }
  .campo-pesquisar-responsive {
    width: 95.6%;
  }
  .botao-finalizar-responsive {
    margin-left: 92%;
  }
}