<div class="alinhar-grid-produtos">
  <span class="ui-float-label">
    <input id="float-input" type="text" size="159" pInputText>
    <label for="float-input">Pesquisa</label>
    <button pButton type="button" label="Pesquisar"></button>
</span>

<p-dataGrid [value]="produtos" [paginator]="true" [rows]="16" [totalRecords]="totalRecords" emptyMessage="Produto(s) indisponível no momento"
    [style]="{'text-align':'center'}">
  <ng-template let-produto pTemplate="produto">
        <div style="padding:3px" class="ui-g-12 ui-md-3">
            <p-panel [header]="produto.nome">
                <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" width="60"> -->
                <div>R{{ produto.preco | currency }}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <a href="#" (click)="selecionarProduto(produto)" title="Adicionar produto no carrinho"><i class="fa fa-cart-plus"></i></a>
            </p-panel>
        </div>
    </ng-template>
</p-dataGrid>
</div>
